
<main>
    <link rel="stylesheet" href="<?php echo base_url('assets/css/app.css') ?>">
    <div id="primary" class="blue4 p-t-b-100 height-full responsive-phone">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <img src="<?php echo base_url('assets/img/icon/icon-plane.png')?>" alt="">
                </div>
                <div class="col-lg-6 p-t-100">
                    <div class="text-white">
                        <h1>INDAGSMARTV</h1>
                        <p class="s-18 p-t-b-20 font-weight-lighter"></p>
                    </div>
                    <form action="<?= base_url('login/token') ?>" method="POST">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group has-icon"><i class="icon-envelope-o"></i>
                                    <input type="text" class="form-control form-control-lg no-b" name="username"
                                           placeholder="Username">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group has-icon"><i class="icon-user-secret"></i>
                                    <input type="text" class="form-control form-control-lg no-b" name="password"
                                           placeholder="Password">
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <input type="submit" class="btn btn-success btn-lg btn-block" value="Login">
                                <!-- <p class="forget-pass text-white">Have you forgot your username or password ?</p> -->
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- #primary -->
</main>
