
<div class="page has-sidebar-left">
    <header class="indigo lighten-1 relative pt-4">
        <div class="container-fluid text-white">
            <div class="row p-t-b-10 ">
                <div class="col">
                    <h4>
                        <i class="icon-box"></i>
                        Meetings
                    </h4>
                </div>
            </div>
            <div class="row">
                <ul class="nav responsive-tab nav-material nav-material-white" id="v-pills-tab">
                    <li>
                        <a class="nav-link active" id="v-pills-1-tab" data-toggle="pill" href="#v-pills-1">
                            <i class="icon icon-home2"></i>Today</a>
                    </li>
                    <li>
                        <a class="nav-link" id="v-pills-2-tab" data-toggle="pill" href="#v-pills-2"><i
                                class="icon icon-plus-circle mb-3"></i>Yesterday</a>
                    </li>
                    <li>
                        <a class="nav-link" id="v-pills-3-tab" data-toggle="pill" href="#v-pills-3"><i
                                class="icon icon-calendar"></i>By Date</a>
                    </li>
                </ul>
                <a class="btn-fab absolute fab-right-bottom btn-primary" data-toggle="control-sidebar">
                    <i class="icon icon-menu"></i>
                </a>
            </div>
        </div>
    </header>
    <div class="container-fluid relative animatedParent animateOnce p-0">
        <div class="row no-gutters">
            <div class="col-md-12">
                <div class="pl-3 pr-3 my-3">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="card shadow my-3 no-b">
                                <div class="card-body">
                                    <div class="d-flex align-items-center">
                                        <div class="avatar-lg avatar mr-3">
                                            <img  src="<?php echo base_url('assets/img/dummy/u11.png')?>" alt="">
                                        </div>
                                        <div>
                                            <h6 class="">WordPress MeetUp</h6>
                                            <span>meetup@wp.com</span>

                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="d-flex align-items-center justify-content-around s-12">
                                        <strong><i class="icon-clock-o mr-2"></i>10:30 AM </strong>
                                        <strong><i class="icon-map-marker mr-2"></i>New York</strong>
                                    </div>
                                </div>
                                <div class="card-body b-t">
                                    <div class="d-flex align-items-center justify-content-around my-3 s-12">
                                        <strong class="text-primary">
                                            5 Members going
                                        </strong>
                                        <strong class="ml-2 s-12 text-warning">2 Pending</strong>
                                    </div>
                                    <div class="d-flex align-items-center justify-content-around my-3">
                                        <div class="avatar-group">
                                            <figure class="avatar">
                                                <img src="<?php echo base_url('assets/img/dummy/u6.png')?>" alt=""></figure>

                                            <figure class="avatar">
                                                <img src="<?php echo base_url('assets/img/dummy/u7.png')?>" alt=""></figure>
                                            <figure class="avatar">
                                                <img src="<?php echo base_url('assets/img/dummy/kepala.png')?>" alt=""></figure>
                                        </div>
                                        <div class="s-12"><strong>+5 More</strong></div>
                                    </div>
                                </div>
                                <div class="card-footer white text-center">
                                    <strong class="s-12 my-1"><a  href="#">View Details</a></strong>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card shadow my-3 no-b">
                                <div class="card-body">
                                    <div class="d-flex align-items-center">
                                        <div class="avatar-lg avatar mr-3">
                                            <img  src="<?php echo base_url('assets/img/dummy/kepala.png')?>" alt="">
                                        </div>
                                        <div>
                                            <h6 class="">WordPress MeetUp</h6>
                                            <span>meetup@wp.com</span>

                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="d-flex align-items-center justify-content-around s-12">
                                        <strong><i class="icon-clock-o mr-2"></i>10:30 AM </strong>
                                        <strong><i class="icon-map-marker mr-2"></i>New York</strong>
                                    </div>
                                </div>
                                <div class="card-body b-t">
                                    <div class="d-flex align-items-center justify-content-around my-3 s-12">
                                        <strong class="text-primary">
                                            5 Members going
                                        </strong>
                                        <strong class="ml-2 s-12 text-warning">2 Pending</strong>
                                    </div>
                                    <div class="d-flex align-items-center justify-content-around my-3">
                                        <div class="avatar-group">
                                            <figure class="avatar">
                                                <img src="<?php echo base_url('assets/img/dummy/u6.png')?>" alt=""></figure>

                                            <figure class="avatar">
                                                <img src="<?php echo base_url('assets/img/dummy/u7.png')?>" alt=""></figure>
                                            <figure class="avatar">
                                                <img src="<?php echo base_url('assets/img/dummy/kepala.png')?>" alt=""></figure>
                                        </div>
                                        <div class="s-12"><strong>+5 More</strong></div>
                                    </div>
                                </div>
                                <div class="card-footer white text-center">
                                    <strong class="s-12 my-1"><a  href="#">View Details</a></strong>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card shadow my-3 no-b">
                                <div class="card-body">
                                    <div class="d-flex align-items-center">
                                        <div class="avatar-lg avatar mr-3">
                                            <img  src="<?php echo base_url('assets/img/dummy/u11.png')?>" alt="">
                                        </div>
                                        <div>
                                            <h6 class="">WordPress MeetUp</h6>
                                            <span>meetup@wp.com</span>

                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="d-flex align-items-center justify-content-around s-12">
                                        <strong><i class="icon-clock-o mr-2"></i>10:30 AM </strong>
                                        <strong><i class="icon-map-marker mr-2"></i>New York</strong>
                                    </div>
                                </div>
                                <div class="card-body b-t">
                                    <div class="d-flex align-items-center justify-content-around my-3 s-12">
                                        <strong class="text-primary">
                                            5 Members going
                                        </strong>
                                        <strong class="ml-2 s-12 text-warning">2 Pending</strong>
                                    </div>
                                    <div class="d-flex align-items-center justify-content-around my-3">
                                        <div class="avatar-group">
                                            <figure class="avatar">
                                                <img src="<?php echo base_url('assets/img/dummy/u6.png')?>" alt=""></figure>

                                            <figure class="avatar">
                                                <img src="<?php echo base_url('assets/img/dummy/u7.png')?>" alt=""></figure>
                                            <figure class="avatar">
                                                <img src="<?php echo base_url('assets/img/dummy/kepala.png')?>" alt=""></figure>
                                        </div>
                                        <div class="s-12"><strong>+5 More</strong></div>
                                    </div>
                                </div>
                                <div class="card-footer white text-center">
                                    <strong class="s-12 my-1"><a  href="#">View Details</a></strong>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card shadow my-3 no-b">
                                <div class="card-body">
                                    <div class="d-flex align-items-center">
                                        <div class="avatar-lg avatar mr-3">
                                            <img  src="<?php echo base_url('assets/img/dummy/kepala.png')?>" alt="">
                                        </div>
                                        <div>
                                            <h6 class="">WordPress MeetUp</h6>
                                            <span>meetup@wp.com</span>

                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="d-flex align-items-center justify-content-around s-12">
                                        <strong><i class="icon-clock-o mr-2"></i>10:30 AM </strong>
                                        <strong><i class="icon-map-marker mr-2"></i>New York</strong>
                                    </div>
                                </div>
                                <div class="card-body b-t">
                                    <div class="d-flex align-items-center justify-content-around my-3 s-12">
                                        <strong class="text-primary">
                                            5 Members going
                                        </strong>
                                        <strong class="ml-2 s-12 text-warning">2 Pending</strong>
                                    </div>
                                    <div class="d-flex align-items-center justify-content-around my-3">
                                        <div class="avatar-group">
                                            <figure class="avatar">
                                                <img src="<?php echo base_url('assets/img/dummy/u6.png')?>" alt=""></figure>

                                            <figure class="avatar">
                                                <img src="<?php echo base_url('assets/img/dummy/u7.png')?>" alt=""></figure>
                                            <figure class="avatar">
                                                <img src="<?php echo base_url('assets/img/dummy/kepala.png')?>" alt=""></figure>
                                        </div>
                                        <div class="s-12"><strong>+5 More</strong></div>
                                    </div>
                                </div>
                                <div class="card-footer white text-center">
                                    <strong class="s-12 my-1"><a  href="#">View Details</a></strong>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="card shadow my-3 no-b">
                                <div class="card-body">
                                    <div class="d-flex align-items-center">
                                        <div class="avatar-lg avatar mr-3">
                                            <img  src="<?php echo base_url('assets/img/dummy/bootstrap.png')?>" alt="">
                                        </div>
                                        <div>
                                            <h6 class="">Bootstrap MeetUp</h6>
                                            <span>meetup@wp.com</span>

                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="d-flex align-items-center justify-content-around s-12">
                                        <strong><i class="icon-clock-o mr-2"></i>10:30 AM </strong>
                                        <strong><i class="icon-map-marker mr-2"></i>New York</strong>
                                    </div>
                                </div>
                                <div class="card-body b-t">
                                    <div class="d-flex align-items-center justify-content-around my-3 s-12">
                                        <strong class="text-primary">
                                            5 Members going
                                        </strong>
                                        <strong class="ml-2 s-12 text-warning">2 Pending</strong>
                                    </div>
                                    <div class="d-flex align-items-center justify-content-around my-3">
                                        <div class="avatar-group">
                                            <figure class="avatar">
                                                <img src="<?php echo base_url('assets/img/dummy/u6.png')?>" alt=""></figure>

                                            <figure class="avatar">
                                                <img src="<?php echo base_url('assets/img/dummy/u7.png')?>" alt=""></figure>
                                            <figure class="avatar">
                                                <img src="<?php echo base_url('assets/img/dummy/kepala.png')?>" alt=""></figure>
                                        </div>
                                        <div class="s-12"><strong>+5 More</strong></div>
                                    </div>
                                </div>
                                <div class="card-footer white text-center">
                                    <strong class="s-12 my-1"><a  href="#">View Details</a></strong>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card shadow my-3 no-b">
                                <div class="card-body">
                                    <div class="d-flex align-items-center">
                                        <div class="avatar-lg avatar mr-3">
                                            <img  src="<?php echo base_url('assets/img/dummy/kepala.png')?>" alt="">
                                        </div>
                                        <div>
                                            <h6 class="">WordPress MeetUp</h6>
                                            <span>meetup@wp.com</span>

                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="d-flex align-items-center justify-content-around s-12">
                                        <strong><i class="icon-clock-o mr-2"></i>10:30 AM </strong>
                                        <strong><i class="icon-map-marker mr-2"></i>New York</strong>
                                    </div>
                                </div>
                                <div class="card-body b-t">
                                    <div class="d-flex align-items-center justify-content-around my-3 s-12">
                                        <strong class="text-primary">
                                            5 Members going
                                        </strong>
                                        <strong class="ml-2 s-12 text-warning">2 Pending</strong>
                                    </div>
                                    <div class="d-flex align-items-center justify-content-around my-3">
                                        <div class="avatar-group">
                                            <figure class="avatar">
                                                <img src="<?php echo base_url('assets/img/dummy/u6.png')?>" alt=""></figure>

                                            <figure class="avatar">
                                                <img src="<?php echo base_url('assets/img/dummy/u7.png')?>" alt=""></figure>
                                            <figure class="avatar">
                                                <img src="<?php echo base_url('assets/img/dummy/kepala.png')?>" alt=""></figure>
                                        </div>
                                        <div class="s-12"><strong>+5 More</strong></div>
                                    </div>
                                </div>
                                <div class="card-footer white text-center">
                                    <strong class="s-12 my-1"><a  href="#">View Details</a></strong>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card shadow my-3 no-b">
                                <div class="card-body">
                                    <div class="d-flex align-items-center">
                                        <div class="avatar-lg avatar mr-3">
                                            <img  src="<?php echo base_url('assets/img/dummy/bootstrap-social-logo.png')?>" alt="">
                                        </div>
                                        <div>
                                            <h6 class="">WordPress MeetUp</h6>
                                            <span>meetup@wp.com</span>

                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="d-flex align-items-center justify-content-around s-12">
                                        <strong><i class="icon-clock-o mr-2"></i>10:30 AM </strong>
                                        <strong><i class="icon-map-marker mr-2"></i>New York</strong>
                                    </div>
                                </div>
                                <div class="card-body b-t">
                                    <div class="d-flex align-items-center justify-content-around my-3 s-12">
                                        <strong class="text-primary">
                                            5 Members going
                                        </strong>
                                        <strong class="ml-2 s-12 text-warning">2 Pending</strong>
                                    </div>
                                    <div class="d-flex align-items-center justify-content-around my-3">
                                        <div class="avatar-group">
                                            <figure class="avatar">
                                                <img src="<?php echo base_url('assets/img/dummy/u6.png')?>" alt=""></figure>

                                            <figure class="avatar">
                                                <img src="<?php echo base_url('assets/img/dummy/u7.png')?>" alt=""></figure>
                                            <figure class="avatar">
                                                <img src="<?php echo base_url('assets/img/dummy/kepala.png')?>" alt=""></figure>
                                        </div>
                                        <div class="s-12"><strong>+5 More</strong></div>
                                    </div>
                                </div>
                                <div class="card-footer white text-center">
                                    <strong class="s-12 my-1"><a  href="#">View Details</a></strong>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card shadow my-3 no-b">
                                <div class="card-body">
                                    <div class="d-flex align-items-center">
                                        <div class="avatar-lg avatar mr-3">
                                            <img  src="<?php echo base_url('assets/img/dummy/kepala.png')?>" alt="">
                                        </div>
                                        <div>
                                            <h6 class="">WordPress MeetUp</h6>
                                            <span>meetup@wp.com</span>

                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="d-flex align-items-center justify-content-around s-12">
                                        <strong><i class="icon-clock-o mr-2"></i>10:30 AM </strong>
                                        <strong><i class="icon-map-marker mr-2"></i>New York</strong>
                                    </div>
                                </div>
                                <div class="card-body b-t">
                                    <div class="d-flex align-items-center justify-content-around my-3 s-12">
                                        <strong class="text-primary">
                                            5 Members going
                                        </strong>
                                        <strong class="ml-2 s-12 text-warning">2 Pending</strong>
                                    </div>
                                    <div class="d-flex align-items-center justify-content-around my-3">
                                        <div class="avatar-group">
                                            <figure class="avatar">
                                                <img src="<?php echo base_url('assets/img/dummy/u6.png')?>" alt=""></figure>

                                            <figure class="avatar">
                                                <img src="<?php echo base_url('assets/img/dummy/u7.png')?>" alt=""></figure>
                                            <figure class="avatar">
                                                <img src="<?php echo base_url('assets/img/dummy/kepala.png')?>" alt=""></figure>
                                        </div>
                                        <div class="s-12"><strong>+5 More</strong></div>
                                    </div>
                                </div>
                                <div class="card-footer white text-center">
                                    <strong class="s-12 my-1"><a  href="#">View Details</a></strong>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
